name: Record Images and Videos

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-12.0, macos-latest]

    steps:

    - name: Checkout
      uses: actions/checkout@master

    - name: Install Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 15.14.0

    - name: Get yarn cache
      working-directory: record
      id: yarn-cache
      run: echo "::set-output name=dir::$(yarn cache dir)"
    - uses: actions/cache@v3
      with:
        path: ${{ steps.yarn-cache.outputs.dir }}
        key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-yarn-

    - run: yarn install --frozen-lockfile
      working-directory: record

    - run: yarn record:next
      working-directory: record

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v3
      if: ${{ matrix.os }} == macos-11.0
      with:
        commit-message: ':camera: Update images and videos ${{ matrix.os }}'
        title: ':camera: Update images and videos ${{ matrix.os }}'
        branch: update-images-and-videos-${{ matrix.os }}
        delete-branch: true
